/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
/.env
/_ide_helper.php
/bootstrap/cache/*.php

/Dockerfile/
Dockerfile
Dockerfile/
./Dockerfile
./Dockerfile/
docker-compose.yml 
docker-compose.dev.yml 
Querys.sql
README.md