version: '3.8'

services:
    vpn-forti:
        command:
            - /bin/bash
            - -c
            - "sleep 5 && echo $OPENCONNECT_PASSWORD | openconnect -u=${OPENCONNECT_USER} --protocol=fortinet portal1.entrerios.gov.ar:10443 --passwd-on-stdin"
networks:
    app-network:

volumes:
    app-data:
    oracle-data:
